
html, body {
  width : 100%;
  height: 100%;
}

body {
  background: black;
  touch-action: none;
  font-family: 'Mada', sans-serif;
  margin: 0;
  display: flex;

  /* This centers our sketch horizontally. */
  justify-content: center;

  /* This centers our sketch vertically. */
  align-items: center;
}
* {box-sizing: border-box}
input,
textarea,
button,
select,
a,
div {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
label {
  font-size: 0.8em;
  font-weight: 100;
}
a {
  color: white;
  text-decoration: underline;
}
mark {
  font-weight: bold;
  border-radius: 2px;
  padding: 0 5px;
  color: white;
  background: rgb(170,70,250);
}
hr {
  margin-bottom: 75px;
}
h3 {
  margin-bottom: 50px;
}
:focus {
  outline: none;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  margin: 5px 0px;
  background: rgba(0,0,0,0);
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border: 1px solid rgb(150,150,150);
  background: rgba(0, 0, 0, 0.8);
}
::selection {
  background-color: rgb(170,70,250);
}
.explainer-div {
  border-radius: 8px;
  color: white;
  text-align: center;
  background: rgb(170,70,250);
/*  background: rgba(0, 0, 0, 0.9);
  border: 1px solid rgb(150,150,150);*/
  box-shadow: 1px 1px 6px rgba(0,0,0,0.2);
  visibility: hidden;
  opacity: 0;
  position: absolute;
  z-index: 95;
  padding: 20px 10px;
  transition: 0.2s;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.info-div {
  border-radius: 8px;
  color: white;
  text-align: center;
  background: rgb(170,70,250);
  font-size: 1.3em;
  visibility: hidden;
  opacity: 0;
/*  background: rgba(0, 0, 0, 0.9);
  border: 1px solid rgb(150,150,150);*/
  box-shadow: 1px 1px 6px rgba(0,0,0,0.2);
  position: absolute;
  z-index: 99;
  padding: 20px 10px;
  transition: 0.2s;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}
.info-div-container {
  position: fixed;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
}
.ctrl-onda {
  display: none;
}
.hr-ctrl {
  margin-bottom: 5px;
}
.controle-geral {
  scroll-behavior: smooth;
  letter-spacing: 3px;
  color: white;
  display: inline-block;
  position: fixed;
  bottom: 20px;
  margin: 0 auto;
  padding: 10px 60px;
  font-size: 1.8em;
  z-index: 1;
  width: 85%;
  height: 30%;
  font-family: 'Abel', sans-serif;
  overflow-x: scroll;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgb(150,150,150);
  border-radius: 10px;
  transition: 0.7s;
  opacity: 0;
  visibility: hidden;
}
.config-div {
  letter-spacing: 3px;
  color: white;
  display: inline-block;
  position: fixed;
  margin: 0 auto;
  padding: 10px 60px;
  font-size: 1.8em;
  z-index: 1;
  width: 85%;
  height: 90%;
  font-family: 'Abel', sans-serif;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgb(150,150,150);
  border-radius: 10px;
  transition: 0.7s;
  opacity: 0;
  visibility: hidden;
}
.browser-handle-div {
  letter-spacing: 3px;
  color: white;
  display: inline-block;
  position: fixed;
  margin: 0 auto;
  padding: 10px 60px;
  font-size: 1.8em;
  z-index: 1;
  width: 85%;
  height: 90%;
  font-family: 'Abel', sans-serif;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgb(150,150,150);
  border-radius: 10px;
  transition: 0.7s;
  opacity: 1;
  visibility: visible;
}
.sobre-div {
  letter-spacing: 3px;
  color: white;
  display: inline-block;
  position: fixed;
  margin: 0 auto;
  padding: 10px 60px;
  font-size: 1.8em;
  z-index: 1;
  width: 85%;
  height: 90%;
  font-family: 'Abel', sans-serif;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.5);
  border: 1px solid rgb(150,150,150);
  border-radius: 10px;
  transition: 0.7s;
  opacity: 1;
  visibility: visible;
}
.titulo{
  font-size: 4.4em;
  text-align: right;
}
.menu-bar {
  border-radius: 6px;
  background: rgba(0, 0, 0, 0.0);
  padding: 6px;
  display: block;
  cursor: pointer;
  position: fixed;
  right: 4px;
  top: 10px;
  margin: 2px;
  margin-top: 10px;
  z-index: 3;
  transition: 0.7s;
  opacity: 1;
}
.dot {
  border-radius: 10px;
  width: 5px;
  height: 5px;
  background-color: #fff;
  transition: 0.4s;
  float: right;
  margin-right: 28px;
  margin-top: 25px;
  transition: 0.3s;
}
.dot2 {
  border-radius: 10px;
  width: 5px;
  height: 5px;
  background-color: #fff;
  transition: 0.4s;
  float: left;
  margin-left: 28px;
  margin-top: 25px;
  transition: 0.3s;
}
.barra1, .barra2, .barra3 {
  border-radius: 30px;
  width: 5px;
  height: 5px;
  background-color: #fff;
  margin: 6px 15px;
  transition: 0.4s;
}

.muda .barra1 {
  width: 35px;
  margin: 6px 0px;
  -webkit-transform: rotate(-45deg) translate(-7px, 8px);
  transform: rotate(-45deg) translate(-7px, 8px);
}

.muda .barra2 {
  opacity: 0;
}

.muda .barra3 {
  width: 35px;
  margin: 6px 0px;
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.muda {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
.nav-ferramentas {
  position: fixed;
  height: 100%;
  width: 60px;
  z-index: 2;
  top: 0;
  right: -100px;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  opacity: 1;
}
.nav-ondas {
  border-radius: 10px;
  position: fixed;
  height: 65%;
  width: 60px;
  z-index: 2;
  top: 0;
  left: -100px;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 0px;
  opacity: 1;
}
.ferramentas {
  cursor: pointer;
  display: block;
  float: right;
  margin-right: 10px;
  margin-top: 25px;
  transition: 0.3s;
}
.btn-icon {
  float: right;
  font-family: 'Mada', sans-serif;
  border-radius: 50%;
  color: white;
  font-size: 1.2em;
  background: rgba(0, 0, 0, 0.0);
  border: 1px solid rgba(150,150,150,0);
  box-shadow: 1px 1px 6px rgba(0,0,0,0.2);
  padding: 10px 15px;
  transition: 0.2s;
}
.btn-tut {
  border-radius: 40px;
  color: white;
  font-size: 0.8em;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgb(150,150,150);
  box-shadow: 1px 1px 6px rgba(0,0,0,0.2);
  padding: 20px 50px;
  transition: 0.2s;
}
.btn-tut:hover {
  background: rgb(170,70,250);
  border: 1px solid rgb(170,70,250);
}
.btn-entrar {
  border-radius: 40px;
  color: white;
  font-size: .7em;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid rgb(150,150,150);
  box-shadow: 1px 1px 6px rgba(0,0,0,0.2);
  padding: 20px 50px;
  transition: 0.2s;
}
.btn-entrar:hover {
  background: rgb(170,70,250);
  border: 1px solid rgb(170,70,250);
}
.btn {
  border: none;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.5);
  color: rgb(255, 255, 255);
  font-size: 23px;
  width: 40px;
  height: 40px;
  margin-left: 5px;
  border-radius: 50%;
  transition: all 0.4s;
  box-shadow: 1px 1px 13px rgba(0,0,0,0.2);
}
.btn:hover {
  background: rgb(255, 255, 255);
  color: rgb(0,0,0);
}
.device-selected {
  background: rgb(170, 70, 250);
}
.active {
  background: rgb(255, 255, 255);
  color: rgb(0,0,0);
  box-shadow: 2px 2px 18px rgba(0,0,0,0.9);
}
.active:hover {
  background: rgb(255, 255, 255);
  color: rgb(0,0,0);
}
.slider {
  -webkit-appearance: none;
  height: 10px;
  width: 200px;
  border-radius: 25px;
  background: rgb(10,10,10);
  outline: none;
  border: 1px solid rgb(150,150,150);
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid rgb(150,150,150);
  background: rgb(0, 0, 0);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: rgb(0, 0, 0);
  cursor: pointer;
}
.toggle {
  height: 10px;
  width: 50px;
}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {

  .btn-icon {
    width: 60px;
    height: 60px;
    float: none;
    margin: 5px auto;
    display: inline-block;
  }
  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
  }
  .btn-tut,
  .btn-entrar {
    width: 90%;
    margin: 25px auto;
    display: block;
  }
  .titulo {
    text-align: right;
    font-size: 2.0em;
    margin-bottom: 80px;
  }
  .config-div {
    padding: 10px 36px;
    height: 98%;
    margin: 0 60px 0 10px;
  }
  .sobre-div {
    padding: 10px 36px;
    height: 98%;
    margin: 0 60px 0 10px;
  }
}
